.DS_Store
*.key
*.crt
*~
/lib/tests/version.sh/**/main
/doc/go-support-scripts.aux
/doc/go-support-scripts.bcf
/doc/go-support-scripts.fdb_latexmk
/doc/go-support-scripts.fls
/doc/go-support-scripts.log
/doc/go-support-scripts.run.xml
/doc/go-support-scripts.synctex.gz
/doc/go-support-scripts.toc
