[Unit]
Description="Timer for ConfigShell"

[Timer]
Unit=configshell-upgrade.service
OnBootSec=1min
OnUnitActiveSec=5m

[Install]
WantedBy=timers.target

