[Unit]
Description="Timer for ConfigShell"

[Timer]
Unit=configshell-upgrade.service
OnBootSec=2min
OnUnitActiveSec=30m

[Install]
WantedBy=timers.target
